
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <h4 class="page-title">Vehicule</h4>
      <div class="ml-auto text-right">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nouvel vehicule:</h5>
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#add">Ajouter</button>
          <div class="table-responsive">
          <div class="row">
            <div class="col-md-8">
              <input placeholder="search..." type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchVehicule()">
            </div>
            <div class="col-md-4">
            <select class="mdb-select md-form" [(ngModel)]="critereValue">
              <option value="" disabled selected>Choisir un critere de recherche</option>
              <option value="marque">Marque</option>
              <option value="couleur">Couleur</option>
            </select>
            </div>
          </div>
            <table id="zero_config" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Immatricule</th>
                <th>Marque</th>
                <th>Num Chassis</th>
                <th>Carte Grise</th>
                <th>Couleur</th>
                <th>Action</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let v of searchVeh">
                <td>{{v.immatricule}}</td>
                <td>{{v.marque}}</td>
                <td>{{v.numchassis}}</td>
                <td>{{v.cartegrise}}</td>
                <td>{{v.couleur}}</td>
                <td>
                  <button  (click)="updateVehicule(v)" data-toggle="modal" data-target="#update" type="button" class="btn btn-cyan btn-sm" >Edit</button>&nbsp;
                  <button (click)="deleteVehicule(v)" type="button" class="btn btn-danger btn-sm">Delete</button>

                </td>

              </tr>


              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right sidebar -->
  <!-- ============================================================== -->
  <!-- .right-sidebar -->
  <!-- ============================================================== -->
  <!-- End Right sidebar -->
  <!-- ============================================================== -->
</div>
<div class=" example-modal " >
  <div class="modal modal-primary" id="add">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <form role="form">
            <div class="box-body">
              <h3>Ajouter un nouveau vehicule</h3>

              <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label >Immatricule :</label>
                  <input type="text"  class="form-control" formControlName="immatricule" placeholder="Enter immatricule" [ngClass]="{ 'is-invalid': f.immatricule.touched && f.immatricule.errors }" >
                  <div *ngIf="f.immatricule.touched && f.immatricule.errors">
                    <div *ngIf="f.immatricule.errors.required">Immatricule is required</div>
                    <div *ngIf="f.immatricule.errors.pattern">Immatricule invalid</div>
                  </div>
                </div>
                <div class="form-group">
                  <label >Marque :</label>
                  <select class="form-control" id="exampleFormControlSelect3" formControlName="marque" [ngClass]="{ 'is-invalid': f.marque.touched && f.marque.errors }">

                    <option *ngFor="let m of marques" >{{ m.name }}</option>
                  </select>

                </div>
                <div class="form-group">
                  <label >Num chassis :</label>
                  <input  class="form-control" formControlName="numchassis" [ngClass]="{ 'is-invalid': f.numchassis.touched && f.numchassis.errors }" placeholder="Enter le numero de chassis">
                  <div *ngIf="f.numchassis.touched && f.numchassis.errors">
                    <div *ngIf="f.numchassis.errors.required">Num chassis is required</div>
                    <div *ngIf="f.numchassis.errors.pattern">Num chassis invalid </div>
                  </div>
                </div>
                <div class="form-group">
                  <label >Carte grise :</label>
                  <input  class="form-control" formControlName="cartegrise" [ngClass]="{ 'is-invalid': f.cartegrise.touched && f.cartegrise.errors }"  placeholder="Enter le numero de la carte grise">
                  <div *ngIf="f.cartegrise.touched && f.cartegrise.errors">
                    <div *ngIf="f.cartegrise.errors.required">Carte grise is required</div>
                    <div *ngIf="f.cartegrise.errors.maxLength">too long</div>
                    <div *ngIf="f.cartegrise.errors.minLength">too short</div>
                  </div>
                </div>
                <div class="form-group">
                  <label >Couleur :</label>
                  <select class="form-control" id="exampleFormControlSelect2" formControlName="couleur" [ngClass]="{ 'is-invalid': f.couleur.touched && f.couleur.errors }">

                    <option *ngFor="let c of couleurs" >{{ c.name }}</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button  type="submit" class="btn btn-success mr-2">Enrégistrer</button>
                  <button class="btn btn-light"  data-dismiss="modal">Annuler</button>
                </div>
              </form>
            </div>
          </form>


        </div>


      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
<div class=" example-modal " >
  <div class="modal modal-primary" id="update">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <form role="form">
            <div class="box-body">
              <h3>Modifier le vehicule</h3>

              <form [formGroup]="editForm" (ngSubmit)="onSubmit1()">
                <div class="form-group">
                  <label >Immatricule :</label>
                  <input type="text"  class="form-control" formControlName="immatricule" placeholder="Enter immatricule" [ngClass]="{ 'is-invalid': f1.immatricule.touched && f1.immatricule.errors }" >
                  <div *ngIf="f1.immatricule.touched && f1.immatricule.errors">
                    <div *ngIf="f1.immatricule.errors.required">Immatricule is required</div>
                    <div *ngIf="f1.immatricule.errors.pattern">Immatricule invalid</div>
                  </div>
                </div>
                <div class="form-group">
                  <label >Marque :</label>
                  <input  class="form-control" formControlName="marque" [ngClass]="{ 'is-invalid': f1.marque.touched && f1.marque.errors }" placeholder="Enter un marque">
                  <div *ngIf="f1.marque.touched && f1.marque.errors">
                    <div *ngIf="f1.marque.errors.required">Marque is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label >Num chassis :</label>
                  <input  class="form-control" formControlName="numchassis" [ngClass]="{ 'is-invalid': f1.numchassis.touched && f1.numchassis.errors }" placeholder="Enter le numero de chassis">
                  <div *ngIf="f1.numchassis.touched && f1.numchassis.errors">
                    <div *ngIf="f1.numchassis.errors.required">Num chassis is required</div>
                    <div *ngIf="f1.numchassis.errors.pattern">Num chassis invalid</div>
                  </div>
                </div>
                <div class="form-group">
                  <label >Carte grise :</label>
                  <input  class="form-control" formControlName="cartegrise" [ngClass]="{ 'is-invalid': f1.cartegrise.touched && f1.cartegrise.errors }"  placeholder="Enter le numero de la carte grise">
                  <div *ngIf="f1.cartegrise.touched && f1.cartegrise.errors">
                    <div *ngIf="f1.cartegrise.errors.required">Carte grise is required</div>
                    <div *ngIf="f1.cartegrise.errors.maxLength">too long</div>
                    <div *ngIf="f1.cartegrise.errors.minLength">too short</div>
                  </div>
                </div>
                <div class="form-group">
                  <label >Couleur :</label>
                  <input  class="form-control" formControlName="couleur" [ngClass]="{ 'is-invalid': submitted && f1.couleur.errors }" placeholder="Enter la couleur">
                  <div *ngIf="submitted && f1.couleur.errors">
                    <div *ngIf="f1.couleur.errors.required">Couleur is required</div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button  type="submit"  class="btn btn-success mr-2">Modifier</button>
                  <button class="btn btn-light"  data-dismiss="modal">Annuler</button>
                </div>
              </form>
            </div>
          </form>


        </div>


      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>


